html {
    color: #8a9499;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    min-height: 100%;
    margin: 0 auto;
}
header {
    position: relative;
    max-width: 640px;
    padding: 0 10px;
    margin: 0 auto;
}
body {
   margin: 0px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 30px;
    margin: 0 auto;
    z-index: 1;
}

.multi-language {
    position: absolute;
    display: block;
    top: 0;
    right: 20px;
    z-index: 3;
}

.multi-language .list {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.multi-language .list li {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    margin: 0;
    border-top: none;
    text-align: center
}
.multi-language img {
    width: 12px;
    margin-left: 5px;
    padding-bottom: 1px;
}
.top {
    position: relative;
    width: 100%;
    margin-top: -16px;
    background-image: linear-gradient(#00AAFF 0%, #fff 100%);
    padding-bottom: 15px;
}
.main-img {
    width: 45%;
    max-width: 288px;
    margin: 0 auto;
    padding-top: 10vh;
}

/* .current {
    border-top: none;
    background-color: rgba(235, 102, 84, 1);
    color: #ffffff !important;
    text-decoration: none !important;
    width: 40px;
    text-align: center
} */

.only-ar,
.only-en {
    display: block;
}

h3 {
    color: #8A9499;
    font-size: 18px;
    margin: 0;
}
.error {
    color: red;
}
.flag {
    width: 40px;
    margin: 0 5px;
}
.region-code {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.region-code img {
    width: 10px;
}
.inputWrap input {
    outline: none;
    font-size: 16px; 
    border-bottom: 1px solid #c4c8cb;
    padding: 5px;
}

.bullets-ar {
    display: block;
    text-align: right
}

.bullets-en {
    display: block;
    text-align: left
}

.optionAr {
    font-family: Verdana, sans-serif
}

.price-info {
    padding-top: 20px
}

a,
a:link {
    color: #000;
    text-decoration: underline
}


a:visited {
    color: #000;
    text-decoration: none
}
ul {
    list-style-type: none;
    text-align: left
}
.bullet-ar {
    text-align: right
}
.bullet-en {
    text-align: left
}
.buttons {
    flex: 1 1 auto;
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    background: #00AAFF;
    padding: 15px;
    width: 55%;
    border: none;
    border-radius: 50px;
    outline: none;
}
.buttons span {
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 38px
}
.buttonText {
    padding: 10px 0;
}
.cancel {
    flex: 1 1 auto;
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
    background-color: #000;
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 50px;
    outline: none
}
.MSISDNclass {
    width: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    clear: all;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 2px solid #c4c8cb;
}
.inputWrap {
    display: flex;
    align-items: center;
}
.inputWrap input {
    display: inline;
    float: none;
}
.inputWrap input {
    border-radius: 10px;
    text-align: center;
    height: 30px;
    width: 170px;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 5px;
    color: #8a9499;
}
.inputWrap input::-webkit-input-placeholder {
    color: #bebebe;
}
.inputWrap input::-moz-placeholder {
    color: #bebebe;
}
.inputWrap input:-ms-input-placeholder {
    color: #bebebe;
}
.inputWrap input::-ms-input-placeholder {
    color: #bebebe;
}
.inputWrap input::placeholder {
    color: #bebebe;
}
img {
    max-width: 400px
}
.container {
    max-width: 640px;
    padding: 0 10px;
    position: relative;
    margin: 0 auto
}
#disclaimer {
    text-align: left;
    z-index: 1;
}
#disclaimer ul {
    padding: 0;
    text-align: center;
}
#disclaimer a {
    color: inherit;
}

@media (orientation: landscape) {
    .main-img {
        width: 55vh;
    }
}

/* Iphones styles */

/* Iphone 5 */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}
/* Iphone 6 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}

/* IPhone 6+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}

/* IPhone X */
@media only screen and (device-width: 375) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}

/* IPhone XR */
@media only screen and (device-width: 375) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}

/* IPhone XS Max */
@media only screen and (device-width: 414) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape) {
    .buttonText {
        font-size: 9px;
    }
    #disclaimer {
        font-size: 8px;
    }
}