/*--------------
     Fonts
--------------*/
@font-face {
    font-family: 'Crique Grotesk';
    src: local('Crique Grotesk Medium'), local('Crique-Grotesk-Medium'),
       url('../fonts/CriqueGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/CriqueGrotesk.woff') format('woff');
    font-weight: 500;
    font-style: normal;
 }

/*--------------
  Basic styles
--------------*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Crique Grotesk', sans-serif;
    font-weight: 500;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}

.container {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

a {
    color: inherit;
}

.error {
    font-size: 18px;
    color: red;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff linear-gradient(#2096e9 0%, white 40%) no-repeat;
}

.hiddenInput {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -99;
}


/*--------------
     Main
--------------*/
main {
    padding-top: 30px;
}

.main-img {
    width: 35%;
}

form {
    margin-top: 10px;
}

.actionText {
    font-size: 21px;
    color: #ff5d10;
}

.infoText {
    max-width: 75%;
    margin: 3px auto 10px;
    font-size: 18px;
    color: #8a9499;
    font-weight: bold;
}

.inputWrapper {
    width: 288px;
    margin: 0 auto;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #8a9499;
    border-bottom: 2px solid #878787;
}

.flag {
    height: 35px;
    margin-left: 22px;
}

.code {
    margin: 0 5px;
}

.inputBlock {
    position: relative;
    width: 160px;
}

.inputPinBlock {
    margin: 0 auto;
}

.inputPinBlock .cursor {
    left: 50%;
}

.inputPinBlock .cursor {
    left: 50%;
    transform: translateX(-50%);
}

.mainInput {
    width: 100%;
    font-family: inherit;
    color: #8a9499;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    border: none;
    pointer-events: none;
}

.mainInput::placeholder {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: none;
    background-color: #71a8ed;
    border-radius: 2px;
    opacity: 1;
    animation: cursor 1s ease infinite;
    animation-delay: 0.2s;
}

input[name=pin] {
    margin: 0 auto;
    text-align: center;
}

button {
    width: 288px;
    height: 68px;
    margin-top: 15px;
    padding-top: 2px;
    font-family: inherit;
    color: #fff;
    font-size: 27.5px;
    text-transform: uppercase;
    background-color: #4dc3ff;
    border: none;
    border-radius: 15px;
}

.exit {
    margin: 0 0 10px 0;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    background-color: #4dc3ff;
    border-radius: 15px;
}


/*--------------
     Footer
--------------*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    padding: 0 10px 2px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    color: #747474;
}

.footer__text a {
    text-decoration: underline;
}


/*--------------
     Media
--------------*/
@media (min-height: 650px) {
    main {
        padding-top: 50px;
    }
}

@media 
    (orientation: portrait) and (max-height: 515px),
    (orientation: landscape) and (max-height: 540px) {
    footer {
        position: relative;
        margin-top: 50px;
    }
}

@media (orientation: landscape) and (max-height: 370px) {
    main {
        padding-top: 15px;
    }
}


/*--------------
   Animation
--------------*/
@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}